<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Spring Security</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
<div class="max-w-md mx-auto p-8 bg-white shadow-md rounded-md">
    <h1 class="text-3xl font-bold mb-4">Hello!</h1>
    <p class="text-gray-700">Click <a th:href="@{/hello}" class="text-blue-500 hover:underline">here</a> to see a greeting.</p>
</div>
</body>
</html>